
.Tiles {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
  border: 2px solid rgba(255,200,32, 0.7);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
.Tiles:hover {
  transform: scale(1.03);
  border: 2px solid rgba(255,20,32, 0.7);
}
.App {
  background: rgb(58,180,152);
  background: radial-gradient(circle,
              rgba(58,180,152,1) 0%,
              rgba(39,92,89,1) 74%,
              rgba(16,50,40,1) 100%
              );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(5px + 2vmin); */
}
.btn {
  box-shadow: 0px 0px 25px rgba(0,0,0,1);
  background-color: rgba(120,160,130,0.75);
  color: rgba(28,100,92, 1);
  text-shadow: 0px 0px 3px rgba(200,200,200,1);
  font-family: impact;
  width: 180px;
  height: auto;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
}
.carousel-item {
  color: rgba(28,100,92, 1);
  text-shadow: 0px 0px 3px rgba(200,200,200,1);
  font-family: impact;
  padding: 10px;
}
.center {
  /* width: 50%; */
  padding: 0px;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid rgba(0, 0, 0, 0.0);
  width: 180px;
  margin: 10px;
}
.dropdown-item {
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid grey;
  color: white;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px rgba(0,0,0,1);
  text-align: center;
  border-radius: 20px;
  width: 180px;
  font-family: futura;
}
.fixed-bottom {
  /* margin: auto; */
}


.header {
  color: rgba(120,160,130,0.75);
  text-shadow: 0px 5px 10px rgba(0,0,0,0.7);
  font-family: noteworthy;
  font-size: 5em;
}
.headerBox {
  /* margin-bottom: 10%; */
}
.slide {
  align-items: center;
  width: 50%;
  padding: 60px;
  /* margin-bottom: 40px; */
}
.logo {
  color: rgba(20,60,30,1);
  text-shadow: 0px 0px 3px rgba(200,200,200,0.6);
  /* margin-top: -60px; */
}
.slideName {
  font-size: 4vw;
  margin-top: 20px;
}


/* #####################################

            MEDIA QUERIES!

##################################### */


@media screen and (max-width: 550px) {
  .btn {
    font-size: 13px;
    width: 130px;
  }
  .dropdown-item {
    width: 130px
  }
  .slide {
    width: 80%;
  }
  .navigation {
    justify-content: center;;
  }
  .header {
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .slide {
    width: 80%;
  }
  .navigation {
    justify-content: center;;
  }
}





/*
            SMALLER SCREENS
*/
/*
      MOST COMMON   (1080 x 1920)

  portrait
*/
/* @media screen and (max-width: 1080px) and (max-height: 1920px) {
  .btn {
    width: 500px;
    font-size: 50px;
    border-radius: 100px;
  }
  .dropdown-item {
    width: 500px;
    font-size: 40px;
  }
  .logo {
    font-size: 40px;
  }
  .navigation {
    justify-content: center;
    margin: 10px;
  }
  .slide {
    width: 80%;
  }
  .slideName {
    font-size: 80px;
  }
  .header {
    font-size: 120px;
  }
} */
/*
  landscape
*/
/* @media screen and (max-width: 1920px) and  (max-height: 1080px) {
  .btn {
    width: 300px;
    font-size: 30px;
    border-radius: 100px;
  }
  .dropdown-item {
    width: 300px;
    font-size: 30px;
  }
  .slide {
    width: 30%;
  }
} */

/*
    MY PHONE!!   lg g-stylo 4   (720 X 1280)

  portrait
*/
/* @media screen and (max-width: 720px) and (max-height: 1280px) {
  .slide {
    width: 70%;
    padding: 35px;
  }
  .btn {
    font-size: 25px;
    width: 220px;
  }
  .dropdown-item {
    font-size: 28px;
    width: 220px;
  }
  .foot {
    margin-bottom: 50px;
  }
  .header {
    margin-top: -100px;
  }
  .logo {
    font-size: 20px;
    margin-top: 50px;
  }

  .navigation {
    justify-content: center;
    margin-top: 50px;
  }
  .Tiles:hover {
    border-radius: 50%;
  }
} */

/* landscape */
/* @media screen and (max-width: 1280px) and  (max-height: 720px){

  .slide {
    align-items: center;
    width: 25%;
    padding: 30px;
  }
  .btn {
    font-size: 20px;
    width: 250px;
  }
  .dropdown-item {
    font-size: 28px;
    width: 250px;
  }
  .logo {
    font-size: 20px;
  }
  .slideName {
    font-size: 2vw;
  }
} */


/*
***   LARGER SCREENS    ***
*/
